---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Ondřej Homolka, an industrial and product designer currently
      studying at UMPRUM in Prague.
      <br />
      My areas of expertise include:
      <ul class="list-disc list-inside">
        <li>Industrial Design</li>
        <li>Product Design</li>
        <li>3D Modeling</li>
        <li>Prototyping</li>
        <li>Graphic Design</li>
        <li>UI/UX Design</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Apart from design, I have a keen interest in exploring different cultures
      and cuisines, which often inspires my creative work. I also enjoy hiking
      in the countryside and capturing moments through photography.
    </p>
    <p class="text-sm font-light">
      While I specialize in certain areas of design, I'm always open to learning
      new techniques and tools to enhance my skills and tackle diverse projects
      effectively.
    </p>
  </div>
</Card>
